<div class="wrapper" [appTheme]="{ background: 'bg' }">
  <div class="container">
    <h1 [appTheme]="{ color: 'textHigh' }">Hello World</h1>
    <p [appTheme]="{ color: 'textLow' }">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      accusamus rerum quo! Dolorum, rem. Officiis, facere enim sed ratione quod,
      voluptates asperiores, accusamus libero nulla nesciunt blanditiis.
      Explicabo, ut optio.
    </p>
    <app-btn (click)="themeBtn('red')">Red Theme</app-btn>
    <app-btn (click)="themeBtn('blue')">Blue Theme</app-btn>
    <app-btn (click)="themeBtn('orange')">Orange Theme</app-btn>
  </div>
</div>
